<h2>Meetups In Munich</h2>

<%= form_with url: search_path, remote: :true do |form| %>
    <%= form.text_field :query,
                        pattern: "^[^\\/]*$",
                        required: true,
                        placeholder: "Type your search text here"
    %>
    <%= form.submit "Search" %>
<% end %>

<div id="result"></div>